footer {
    background-color: rgb(133, 57, 255);
    min-height: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
    font-family: "Montserrat";
}