.bandeauAccueilComponent {
    
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    color: white;
    padding: 40px;
}

.titre-bandeau {
    font-family: "Montserrat";
    font-size: 50px;
    color: black;
}

.titre {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .titre-bandeau {
        font-size: 30px;
    }
  }