.connexionSpan {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(255, 0, 0);
    padding: 40px;
}

.connexionP {
    text-align: center;
    color: white;
}

.connexionFormContainer {
    padding: 70px 0;
    height: 800px;
}

@media screen and (max-width: 500px) {
    .connexionSpan {
        padding: 0;
    }
}