.logInFormContainer {
    padding: 40px;
    min-height: 300px;
    padding: 20px 0;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 2px solid white;
    align-content: center;
    align-items: center;
    color: white;
    h1 {
        font-size: 30px;
        margin: 10px 0 20px 0;
    }
    .logInForm {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        .logInInputsContainer {
            width: 300px;
            margin: 10px 0;
            display: flex;
            flex-direction: column;
            input {
                width: 300px;
            }
        }
    }
    button {
        background-color: rgb(255, 0, 0);
        border: none;
        padding: 5px;
        transition: .3s;
        cursor: pointer;
        color: white;
        margin-bottom: 20px;
        &:hover {
            transform: scale(105%);
        }
    }
}

@media screen and (max-width: 500px) {
    .logInFormContainer {
        width: 95%;
    }
    .logInForm {
        .logInInputsContainer {
            width: 90% !important;
            input {
                width: 90% !important;
            }
        }
    }
}