.recipeFormContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  .newRecipeForm {
    width: 50%;
    margin: auto;
    .inputContainer {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
    }
  }
  .newRecipeFormButtonsContainer {
    display: flex;
    width: 50%;
    margin: auto;
    #RecipeFormButton,
    .HideRecipeFormButton {
      padding: 5px;
      border: none;
      transition: 0.3s;
      width: 33%;
      margin: auto;
      cursor: pointer;
      &:hover {
        transform: scale(110%);
      }
    }
    .HideRecipeFormButton {
      background-color: gray;
      color: white;
      border-radius: 5px;
    }
    #RecipeFormButton {
      background-color: rgb(133 57 255);
      color: white;
      border-radius: 5px;
    }
  }
}

input {
  border-radius: 5px;
  margin: 5px;
}

textarea {
  border-radius: 5px;
  margin: 5px;
}
